<p>Listagem de usuários</p>
<p>Escolha um cliente para visualizar os detalhes</p>
<button routerLink="/registro">Novo cliente</button>

<mat-spinner *ngIf="isLoading" diameter="40" strokeWidth="3"></mat-spinner>

<p *ngIf="!isLoading && erro">Algo deu errado.</p>

<div *ngIf="!isLoading && !erro" >
  <p *ngIf="!clientes.length">
    Nenhum cliente cadastrado!
  </p>

  <div *ngIf="clientes.length">
    <div *ngFor="let cliente of clientes">
      <div>
        <p>{{ cliente.nome }}</p>
        <p>{{ cliente.email }}</p>
        <p>{{ formatarCPF(cliente.cpf!) }}</p>
        <p>{{ formatarTelefone(cliente.telefone!) }}</p>
        <p>{{ cliente.status }}</p>
        <button>Editar</button>
        <mat-icon class="deleteIcon" (click)="openDeleteDialog(cliente.nome!, cliente.id!)">delete_outline</mat-icon>
      </div>
    </div>
    <p *ngIf="clientes.length === 1">Exibindo {{ clientes.length }} cliente</p>
    <p *ngIf="clientes.length > 1">Exibindo {{ clientes.length }} clientes</p>
  </div>
</div>
